@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
header {
  background-image: url("../images/mobile/image-header.jpg");
  height: 500px;
  background-size: cover;
  padding: 2rem 2rem 0 2rem;
  background-position: center;
  text-align: center;
}

@media screen and (min-width: 24rem) {
  header {
    background-image: url("../images/desktop/image-header.jpg");
  }
}

header .flexWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40rem) {
  header .flexWrapper #toggleMobileMenu {
    display: none;
  }
}

header .flexWrapper nav {
  opacity: 0;
  position: absolute;
  content: "";
  top: 5rem;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  header .flexWrapper nav {
    position: relative;
    opacity: 1;
    background-color: transparent;
    top: 0;
  }
}

header .flexWrapper nav::after {
  position: absolute;
  content: "";
  top: -30px;
  right: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
}

@media screen and (min-width: 40rem) {
  header .flexWrapper nav::after {
    content: unset;
  }
}

header .flexWrapper nav.opacityOne {
  opacity: 1;
}

header .flexWrapper nav a {
  color: #818498;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: 1.2rem;
  width: 130px;
}

@media screen and (min-width: 40rem) {
  header .flexWrapper nav a {
    display: inline;
    color: white;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 64rem) {
  header .flexWrapper nav a {
    margin: 0.5rem 1rem;
  }
}

header .flexWrapper nav .contact {
  font-family: "Fraunces", serif;
  font-weight: 700;
  background-color: #fad400;
  border-radius: 30px;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
}

@media screen and (min-width: 40rem) {
  header .flexWrapper nav .contact {
    background-color: white;
  }
}

header .flexWrapper #toggleMobileMenu:hover {
  cursor: pointer;
}

header h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 6px;
}

section#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
      grid-template-areas: "egg" "transform" "glass" "stand" "graphic" "photo";
}

section#main .egg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: egg;
  height: 100%;
}

section#main .egg img {
  height: 100%;
  width: 100%;
}

section#main .transform {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: transform;
}

section#main .transform .textWrapper {
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
}

section#main .transform .textWrapper h2 {
  padding: 2rem 2rem 0 2rem;
  font-weight: 900;
  font-size: 2rem;
  color: #23303e;
}

section#main .transform .textWrapper p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 25px;
  color: #818498;
}

section#main .transform .textWrapper a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 900;
}

section#main .transform .textWrapper a::after {
  position: absolute;
  content: "";
  top: 12px;
  left: -8px;
  right: -8px;
  bottom: -5px;
  z-index: -1;
  border-radius: 8px;
}

section#main .transform a::after {
  background-color: #fff7c7;
}

section#main .glass {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: glass;
  height: 100%;
}

section#main .glass img {
  height: 100%;
  width: 100%;
}

section#main .standOut {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: stand;
}

section#main .standOut .textWrapper {
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
}

section#main .standOut .textWrapper h2 {
  padding: 2rem 2rem 0 2rem;
  font-weight: 900;
  font-size: 2rem;
  color: #23303e;
}

section#main .standOut .textWrapper p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 25px;
  color: #818498;
}

section#main .standOut .textWrapper a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 900;
}

section#main .standOut .textWrapper a::after {
  position: absolute;
  content: "";
  top: 12px;
  left: -8px;
  right: -8px;
  bottom: -5px;
  z-index: -1;
  border-radius: 8px;
}

section#main .standOut a::after {
  background-color: #ffd2cc;
}

section#main .graphic {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: graphic;
  position: relative;
}

section#main .graphic img {
  height: 100%;
  width: 100%;
}

section#main .graphic .textWrapperBottom {
  position: absolute;
  padding: 1rem;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

section#main .graphic .textWrapperBottom h3 {
  font-size: 1.8rem;
  font-weight: 900;
}

section#main .graphic .textWrapperBottom p {
  margin-top: 1rem;
  line-height: 25px;
  font-size: 1rem;
}

section#main .graphic .textWrapperBottom {
  color: #25564b;
}

section#main .photography {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: photo;
  position: relative;
}

section#main .photography img {
  height: 100%;
  width: 100%;
}

section#main .photography .textWrapperBottom {
  position: absolute;
  padding: 1rem;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

section#main .photography .textWrapperBottom h3 {
  font-size: 1.8rem;
  font-weight: 900;
}

section#main .photography .textWrapperBottom p {
  margin-top: 1rem;
  line-height: 25px;
  font-size: 1rem;
}

section#main .photography .textWrapperBottom {
  color: #19536b;
}

@media screen and (min-width: 30rem) {
  section#main .photography .textWrapperBottom,
  section#main .graphic .textWrapperBottom {
    padding: 3rem 1rem;
  }
}

@media screen and (min-width: 40rem) {
  section#main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "transform egg" "glass stand" "graphic photo";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#main .transform .textWrapper,
  section#main .standOut .textWrapper {
    text-align: left;
    padding: 2rem;
  }
  section#main .transform .textWrapper h2,
  section#main .standOut .textWrapper h2 {
    padding: unset;
  }
  section#main .photography .textWrapperBottom,
  section#main .graphic .textWrapperBottom {
    bottom: unset;
    top: 5rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 50rem) {
  section#main .photography .textWrapperBottom,
  section#main .graphic .textWrapperBottom {
    top: 11rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 64rem) {
  section#main .transform .textWrapper {
    padding: 0 3rem 0 6rem;
  }
  section#main .standOut .textWrapper {
    padding: 0 6rem;
  }
  section#main .photography .textWrapperBottom,
  section#main .graphic .textWrapperBottom {
    top: 17rem;
    padding: 0 5rem;
  }
}

@media screen and (min-width: 80rem) {
  section#main .transform .textWrapper {
    padding: 0 4rem 0 8rem;
  }
  section#main .standOut .textWrapper {
    padding: 0 8rem;
  }
  section#main .photography .textWrapperBottom,
  section#main .graphic .textWrapperBottom {
    top: 22rem;
    padding: 0 9rem;
  }
}

section#testimonials {
  text-align: center;
}

section#testimonials h4 {
  margin-top: 3rem;
  text-transform: uppercase;
  color: #a7abae;
  font-family: "Fraunces", serif;
  letter-spacing: 4px;
  font-weight: 900;
}

section#testimonials .flexWrapper .card {
  margin-top: 4rem;
  padding: 1rem;
}

section#testimonials .flexWrapper .card img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

section#testimonials .flexWrapper .card img ~ p {
  color: #5a636c;
  font-size: 1.2rem;
  line-height: 29px;
  margin-top: 2rem;
}

section#testimonials .flexWrapper .card h2 {
  font-size: 1.1rem;
  margin-top: 2rem;
}

section#testimonials .flexWrapper .card h2 ~ p {
  color: #a7abae;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

@media screen and (min-width: 40rem) {
  section#testimonials {
    margin-top: 5rem;
  }
  section#testimonials .flexWrapper .card {
    padding: 1rem 25%;
  }
}

@media screen and (min-width: 64rem) {
  section#testimonials {
    padding: 0 10%;
  }
  section#testimonials .flexWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#testimonials .flexWrapper .card {
    padding: 1rem;
  }
  section#testimonials .flexWrapper .card img ~ p {
    font-size: 1rem;
  }
  section#testimonials .flexWrapper .card h2 {
    margin-top: 4rem;
  }
}

section#gallery {
  margin-top: 3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "milk orange" "cone sugar";
}

section#gallery img {
  width: 100%;
}

section#gallery #imageMilk {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: milk;
}

section#gallery #imageOrange {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: orange;
}

section#gallery #imageCone {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cone;
}

section#gallery #imageSugar {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sugar;
}

@media screen and (min-width: 40rem) {
  section#gallery {
    margin-top: 5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "milk orange cone sugar";
  }
}

footer {
  background-color: #8bc6ba;
  padding: 4rem 1rem 5rem 1rem;
  text-align: center;
}

footer .svgLogo svg path {
  fill: #25564b;
}

footer nav {
  margin: 0 auto;
  width: 250px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav a {
  text-decoration: none;
  color: #25564b;
}

footer .socialMedia {
  width: 200px;
  margin: 0 auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socialMedia .svg {
  width: 20px;
}

footer .socialMedia .svg svg {
  width: 100%;
}

footer .socialMedia .svg svg path {
  fill: #25564b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
p ~ a {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

body.overflowHidden {
  overflow-y: hidden;
}
/*# sourceMappingURL=main.css.map */