section#main {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "egg" "transform" "glass" "stand" "graphic" "photo";

  .egg {
    grid-area: egg;
    height: 100%;
    @include imageMaxSized;
  }

  .transform {
    grid-area: transform;
    @include transformAndStandBlock;

    a::after {
      transition: 0.3s ease-in;
      background-color: lighten($yellow, 40%);
    }

    .textWrapper a:hover {
      cursor: pointer;
      &::after {
        background-color: yellow;
      }
    }

    .textWrapper a:active {
      &::after {
        transition: all 0s ease-in;

        background-color: $darkModerateCyan;
      }
    }
  }

  .glass {
    grid-area: glass;
    height: 100%;
    @include imageMaxSized;
  }

  .standOut {
    grid-area: stand;
    @include transformAndStandBlock;

    a::after {
      transition: 0.3s ease-in;
      background-color: lighten($softRed, 20%);
    }

    .textWrapper a:hover {
      cursor: pointer;
      &::after {
        background-color: $softRed;
      }
    }

    .textWrapper a:active {
      &::after {
        transition: all 0s ease-in;
        background-color: $darkModerateCyan;
      }
    }
  }

  .graphic {
    grid-area: graphic;
    @include graphicAndPhotoBlock;

    .textWrapperBottom {
      color: $darkDesaturatedCyan;
    }
  }

  .photography {
    grid-area: photo;
    @include graphicAndPhotoBlock;

    .textWrapperBottom {
      color: $darkBlue;
    }
  }

  @media screen and (min-width: 30rem) {
    .photography .textWrapperBottom,
    .graphic .textWrapperBottom {
      padding: 3rem 1rem;
    }
  }

  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "transform egg"
      "glass stand"
      "graphic photo";

    justify-items: center;
    align-items: center;

    .transform .textWrapper,
    .standOut .textWrapper {
      text-align: left;
      padding: 2rem;

      h2 {
        padding: unset;
      }
    }

    .photography .textWrapperBottom,
    .graphic .textWrapperBottom {
      bottom: unset;
      top: 5rem;
      padding: 1rem;
    }
  }

  @media screen and (min-width: 50rem) {
    .photography .textWrapperBottom,
    .graphic .textWrapperBottom {
      top: 11rem;
      padding: 1rem;
    }
  }

  @media screen and (min-width: 64rem) {
    .transform .textWrapper {
      padding: 0 3rem 0 6rem;
    }
    .standOut .textWrapper {
      padding: 0 6rem;
    }

    .photography .textWrapperBottom,
    .graphic .textWrapperBottom {
      top: 17rem;
      padding: 0 5rem;
    }
  }

  @media screen and (min-width: 80rem) {
    .transform .textWrapper {
      padding: 0 4rem 0 8rem;
    }
    .standOut .textWrapper {
      padding: 0 8rem;
    }

    .photography .textWrapperBottom,
    .graphic .textWrapperBottom {
      top: 22rem;
      padding: 0 9rem;
    }
  }
}
