section#testimonials {
  text-align: center;
  h4 {
    margin-top: 3rem;
    text-transform: uppercase;
    color: $grayishBlue;
    font-family: "Fraunces", serif;
    letter-spacing: 4px;
    font-weight: 900;
  }

  .flexWrapper {
    .card {
      margin-top: 4rem;
      padding: 1rem;

      img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
      }

      img ~ p {
        color: $veryDarkGrayishBlue;
        font-size: 1.2rem;
        line-height: 29px;
        margin-top: 2rem;
      }

      h2 {
        font-size: 1.1rem;
        margin-top: 2rem;
      }

      h2 ~ p {
        color: $grayishBlue;
        font-size: 0.9rem;
        margin-top: 0.2rem;
      }
    }
  }

  @media screen and (min-width: 40rem) {
    margin-top: 5rem;
    .flexWrapper .card {
      padding: 1rem 25%;
    }
  }

  @media screen and (min-width: 64rem) {
    // todo flex
  }
}
