footer {
  background-color: lighten($darkModerateCyan, 25%);
  padding: 4rem 1rem 5rem 1rem;
  text-align: center;

  .svgLogo {
    svg path {
      fill: $darkDesaturatedCyan;
    }
  }

  nav {
    margin: 0 auto;
    width: 250px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: $darkDesaturatedCyan;
      transition: all 0.3s ease-in;

      &:hover {
        color: $white;
      }

      &:active{
        transition: all 0s ease-in;
        color: $softRed;
      }
    }
  }

  .socialMedia {
    width: 200px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .svg {
      width: 20px;
      
      &:hover {
        cursor: pointer;
        svg path {
          fill: $white;
        }
      }

      &:active{
        svg path{
          transition: all 0s ease-in;
          fill: $softRed;
        }
      }
      
      svg {
        width: 100%;
        
        path {
          transition: all 0.3s ease-in;
          fill: $darkDesaturatedCyan;
        }
      }
    }
  }
}
